Outliers causes variuos causes to the statistical analysis and may also cause significant event on mean and standard deviation of the datasets

# Ways to find the outliers
1.using scatter plot
2.box plot
3.Using Z score
4.Using interquartile range

In [1]:
datasets=[11,12,14,15,25,102,17,189,107,10,12,13,15,16,25,56,12,14,16,17,18,12,13,14,15,16,18,25,250,300,267]

Detecting the functions using outliers

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
outliers=[]
def detect_outliers(data):
    
    threshold=3
    mean=np.mean(data)
    std=np.std(data)
    
    for i in data:
        z_score=(i-mean)/std
        if np.abs(z_score)>threshold:
            outliers.append(i)
    return outliers

In [4]:
outlier_pt=detect_outliers(datasets)

In [5]:
outlier_pt

[300]

In [6]:
# Through interquartile range
# Short the datasets

In [7]:
sorted(datasets)

[10,
 11,
 12,
 12,
 12,
 12,
 13,
 13,
 14,
 14,
 14,
 15,
 15,
 15,
 16,
 16,
 16,
 17,
 17,
 18,
 18,
 25,
 25,
 25,
 56,
 102,
 107,
 189,
 250,
 267,
 300]

In [8]:
quantile1,quantile3=np.percentile(datasets,[25,75])

In [9]:
print(quantile1,quantile3)

13.5 25.0

In [10]:
# Finding IQR range
iqr_value=quantile3-quantile1

In [11]:
print(iqr_value)

11.5

In [12]:
lower_bound_val=quantile1-(1.5*iqr_value)
upper_bound_val=quantile1+(1.5*iqr_value)

In [13]:
print(lower_bound_val,upper_bound_val)

-3.75 30.75

In [14]:
# Normalization and standardization

In [15]:
student={"Class":[1,1,1,1,1],"Alcohol":[14.23,13.20,13.26,14.37,13.24],"Malic":[1.71,1.72,1.75,1.87,2.95]}

In [16]:
df = pd.DataFrame(student)

In [17]:
df

   Class  Alcohol  Malic
0      1    14.23   1.71
1      1    13.20   1.72
2      1    13.26   1.75
3      1    14.37   1.87
4      1    13.24   2.95

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaling=MinMaxScaler()

In [20]:
scaling.fit_transform(df[["Alcohol","Malic"]])

array([[0.88034188, 0.        ],
       [0.        , 0.00806452],
       [0.05128205, 0.03225806],
       [1.        , 0.12903226],
       [0.03418803, 1.        ]])

In [21]:
# Standardization( Z score normalizations) it has the property that mean is equal to zero and standard deviation is equal to 1

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaling2=StandardScaler()

In [24]:
scaling2.fit_transform(df[["Alcohol","Malic"]])

array([[ 1.08615771, -0.60616949],
       [-0.87654832, -0.5852671 ],
       [-0.76221593, -0.52255991],
       [ 1.35293328, -0.27173115],
       [-0.80032673,  1.98572765]])